<div class="container container-resp p-4">
    <div class="card text-center">
        <div class="card-body">
            <div class="form-header pl-5">
                <div class="form-header-title">
                    <div>
                        <i class="fa fa-bed mr-2" aria-hidden="true" style="font-size: 20px;"></i>
                    </div>
                    <h3 class="title">Maitenance room</h3>
                </div>
            </div>
            <form class="form-body" action="/room/edit/{{room.room_id}}" method="POST">
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="number" name="number" step="1" autocomplete="off"
                            value="{{room.number}}" required>
                        <label class="placeholder">Room number</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="number" name="floor" step="1" autocomplete="off"
                            value="{{room.floor}}" required>
                        <label class="placeholder">Floor</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <select class="form-control" size="1" name="roomtype" required>
                            <option value="{{room.troom_id}}" selected hidden>{{room.roomtype}}</option>
                            {{#each rtype}}
                            <option value="{{troom_id}}">{{roomtype}}</option>
                            {{/each}}
                        </select>
                        <label class="placeholder">Room type</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <select class="form-control" size="1" name="" id="" disabled>
                            <option value="Vacant" selected>{{room_status room.status}}</option>
                        </select>
                        <label class="placeholder">Status</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <a class="btn btn-danger btn-block" href="/room">Cancel</a>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Accept">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>