<div class="container container-resp p-4">
    <div class="card text-center">
        <div class="card-body">
            <div class="form-header pl-5">
                <div class="form-header-title">
                    <div>
                        <i class="fa fa-cog mr-2" aria-hidden="true" style="font-size: 20px;"></i>
                    </div>
                    <h3 class="title">Settings</h3>
                </div>
            </div>
            <form class="form-body" action="/setting/edit/{{setting.setting_id}}" method="POST">
                <div class="form-header pl-4 pr-4 form-separator">
                    <div class="form-header-title">
                        <label for="">Hotel settigns</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="name" autocomplete="nope" value="{{setting.name}}" required>
                        <label class="placeholder">Name</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="TIN" value="{{setting.TIN}}" autocomplete="nope" required>
                        <label class="placeholder">TIN</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <select class="form-control" size="1" name="state" id="select-state" required>
                            <option value="{{setting.state}}" hidden>{{setting.state}}</option>
                        </select>
                        <label class="placeholder">State</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <select class="form-control" size="1" name="city" id="select-city" required>
                            <option value="{{setting.city}}" hidden>{{setting.city}}</option>
                        </select>
                        <label class="placeholder">City</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="address" value="{{setting.address}}" autocomplete="nope" required>
                        <label class="placeholder">Address</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="zipcode" value="{{setting.zipcode}}" autocomplete="nope" required>
                        <label class="placeholder">Zip code</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="phone" value="{{setting.phone}}" autocomplete="nope" required>
                        <label class="placeholder">Phone</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="email" name="email" value="{{setting.email}}" autocomplete="nope" required>
                        <label class="placeholder">E-mail</label>
                    </div>
                </div>

                <div class="form-header pl-4 pr-4 form-separator">
                    <div class="form-header-title">
                        <label for="">Other settings</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="number" step="0.01" name="tax" value="{{setting.tax}}" autocomplete="off" required>
                        <label class="placeholder">Tax rate</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary btn-update" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>